@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;  
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
}

.art {
    width: 250px;
    text-align: center;
}

.banner {
    background-color: #efe3d3;
    text-align: center;
    overflow: hidden; 
}

.logo {  
    width: 100px;
    position: relative;
    top: 20px;
    -webkit-animation: appear 2s;
    animation: appear 2s ease;
}

.logo:hover,
.logo:focus,
.logo:active {
    width: 125px;
    -webkit-transition: 1s;
    transition: 1s;
}

.stripe1 {
    background-color: white;
    height: 2.5px;
    position: relative;
    top: 10px;
    -webkit-animation: stripe1  1.5s ease infinite;
    animation: stripe1  1.5s ease infinite;
}

.stripe2 {
    background-color: white;
    height: 2.5px;
    position: relative;
    bottom: 10px;
    -webkit-animation: stripe2  1.5s ease infinite;
    animation: stripe2  1.5s ease infinite;
}

.erin {
    color: #ef9d87;
}

.erin:hover {
    color: #a5aa94;
    -webkit-transition:2s;
    transition:2s;
}

.arrow {
    height: 50px;
    width: 50px;
    border: 3px solid #ef9d87;
    border-radius: 50%;
    padding: .75em;
    position: relative;
    bottom: 20px;
}

.arrow:hover,
.arrow:focus,
.arrow:active {
    border: 5px solid #a5aa94;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.nav {
    overflow: hidden;
    background-color: #ef9d87;
    height: 7em;
}

.nav-logo {
    height: 5em;
    position: absolute;
    top: .25em;
    left: 2em;
}

.nav-list {
    list-style-type: none;
    text-align: center;
    color: white;
    overflow: hidden;
}

.menu-btn {
    position: absolute;
    height: 2em;
    right: 2em;
    top: 2.5em;
    cursor: pointer;
} 

.full-list {
    height: 0;
    -webkit-transition: height 1s ease;
    transition: height 1s ease;
    overflow: hidden;
    background-color: #ef9d87; 
}

.first-list:hover {
    font-weight: 500;
    color: #efe3d3; 
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s; 
}

.js-menu-open {
    height: 8em;
    display: block;
    background-color: #ef9d87;   
}

.section-title {
    text-align: center;
    color: #a5aa94; 
    font-weight: 700;
    position: relative;
    top: 1em;
}

.title {
    font-style: italic;
    font-size: 16px;
    position: relative;
    top: .5em;
    left: 1em;
    float: left;
    color: #ef9d87; 
    font-weight: 300;
}

.box {
    overflow: hidden;
    border: 1px solid #ef9d87;
}

a {
    text-decoration: none;
    color: white;
    background-color: #ef9d87;
    padding: .5em;
    border: 1px solid #ef9d87;
    text-align: center;
}

a:hover {
    opacity: .5;
}

.js-current {
    display: inline-block;
    background-color: white;
    color: #ef9d87;
}

.tabs {
    list-style-type: none;
    width: 100%;
}

.tab-btn { 
    display: inline-block;
    color: white;
    height: 2em;
    margin: 0;
    padding: 0;
}

.tab-btn a {
    display: inline-block;
    width: 100%;
}

.tab-panel, .panel, .panel img {
    width: 100%;
}

.panel {
    -webkit-transition: 1s ease;
    transition: 1s ease; 
}

@-webkit-keyframes appear {
    0% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
    
    60% {
        -webkit-transform: scale(1.2);
        opacity: .5;
    }
    
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes appear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    
    60% {
        transform: scale(1.2);
        opacity: .5;
    }
    
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes stripe1 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: .25;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        -webkit-transform: translateX(-100%);
        opacity:.25;     
    }   
}

@keyframes stripe1 {
    0% {
        transform: translateX(100%);
        opacity: .25;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        transform: translateX(-100%);
        opacity:.25;     
    }   
}

@-webkit-keyframes stripe2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: .25;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        -webkit-transform: translateX(100%);
        opacity:.25;     
    }   
}

@keyframes stripe2 {
    0% {
        transform: translateX(-100%);
        opacity: .25;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        transform: translateX(100%);
        opacity:.25;     
    }   
}